
  @import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

  

body {
  background: rgba(44, 150, 104, 0.4);
  display: flex;
}



.left-aside {
  margin-top: 7%;
  flex-basis: 30%; /* Adjust as needed */
  margin-right: 20px;
  
 
}

.left-aside h3{
    color: #000B0A;
font-size: 40px;
font-family: Brown;
font-weight: 700;
line-height: 50px;
word-wrap: break-word;
}

.left-aside p{
    color: #737373;
font-size: 16px;
font-family: Brown;
font-weight: 400;
line-height: 25px;
word-wrap: break-word;

}

.right-aside {
    flex-basis: 60%; 
    margin-left: 5%;
    
  }

  .row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

  }
.test{
    display: flex;
    flex-direction: row;
    margin-left: 6%;
}
 

main {
  width: 100%;
  height: 100%;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 2%;
  margin-bottom: 2%;
  border-radius: 5px;
  background: hsla(0, 0%, 100%, 1);
  box-shadow: 0px 2px 8px hsl(238deg 28% 50% / 0.5);
}


  
  input[type="text"] {
    width: 20rem; /* Adjust width as needed */
    height: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: hsla(216, 16%, 94%, 1);
    border-radius: 5px;
    margin-bottom: 10px; /* Adjust spacing between fields */
    margin-top: -10px;
    
   
  }

  #gender{
    border-radius: 5px;
    padding: 10px;
    height: 100%;
    width: 100%;
    border: 1px solid #ccc;
    background-color: hsla(216, 16%, 94%, 1);
    margin-bottom: 10px; /* Adjust spacing between fields */
    margin-top: -10px;
    
   
  }
  
  #date{
    border-radius: 5px;
    padding: 10px;
    height: 100%;
    width: 100%;
    border: 1px solid #ccc;
    background-color: hsla(216, 16%, 94%, 1);
    margin-bottom: 10px; 
    margin-top: -10px;
    margin-left: 5%;
  }

  #activities{
    border-radius: 5px;
    padding: 10px;
    height: 100%;
    width: 100%;
    border: 1px solid #ccc;
    background-color: hsla(216, 16%, 94%, 1);
    margin-bottom: 10px; /* Adjust spacing between fields */
    margin-top: -10px;
    
   
  }

  #activity-row{
    margin-left: 50px;
    margin-right: 50px;
  }
  
  #password-row{
    margin-left: 50px;
    margin-right: 50px;
  }

  #password{
    width: 46rem; /* Adjust width as needed */
    height: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: hsla(216, 16%, 94%, 1);
    border-radius: 5px;
    margin-bottom: 10px; /* Adjust spacing between fields */
    margin-top: -10px; 
  }
 
  
  
 

  .buy-button {
    display: flex;
  
    text-align: center;
    width: 70%;
    border-radius: 5px;
    margin-left: 10%;
    background-color: hsla(174, 62%, 47%, 1);
    justify-content: center;
    border-color: hsla(0, 2%, 57%, 0);
  
    margin-top: 30px;
  }

  .h5{
    color: black;
font-size: 14px;
font-weight: 400;
line-height: 25px;
word-wrap: break-word;
margin-left: 30px;
  }

  .h5 a{
    color: #2EC4B6;
font-size: 14px;
font-family: Sofia Pro;
font-weight: 500;
text-decoration: underline;
line-height: 25rem;
  }

  .footer{
    text-align: center;
    margin-left: 10px;
  }

  .row-2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 20px;
    font-family: Sofia Pro;
    
  }

  .logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo-section img {
    width: 80%; /* Adjust as needed */
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  @media (max-width: 700px) {
    
    .logo-section img {
        width: 100%; /* Adjust for full width */
      }
      
    .left-aside,
    .right-aside {
      flex-basis: 100%;
    }

    .row{
        flex-direction: column;
        margin-right: 20%;
    }

    .test{
        flex-direction: column;
        margin-right: 20%;
    }

    .row-2{
        flex-direction: column;
    }
   
    
    
    
  
    .row-2 h4 {
      margin-left: 0;
    }
  
    .text-fields input,
    
    input[type="text"],
    #gender,
    #date,
    #activities,
    #weight,
    #height,
    #password-row {
        display: flex;
      width: 100%;
      
      
    }
  }
  